.parent-content-wrap{
    .left-content{
        width: 300px;
        float: left;
        background-color: #abc;
    }
    .right-content{
        width: 300px;
        float: right;
        background-color: brown;

    }
    .center-content{
        overflow: hidden;
    }
}